body.dark-mode, 
body.dark-mode #wrapper, 
body.dark-mode .card, 
body.dark-mode .navbar,
body.dark-mode .navbar-expand,
body.dark-mode .sidebar,
body.dark-mode #content-wrapper,
body.dark-mode .topbar,
body.dark-mode .collapse-inner,
body.dark-mode .dropdown-menu,
body.dark-mode #content,
body.dark-mode .card-header,
body.dark-mode .navbar-light {
  background-color: #343a40;
  color: #ffffff;
}
body.dark-mode .sidebar {
  background-color: #343a40;
  color: #ffffff;
}

